html {
  width: 400px
}

header {
  background-color: aqua;
}

.inline {
  display: inline;
}

.hidden {
  display: none
}

#rateRange {
  width: 70%
}

#rateInput {
  width: 10%
}

#rateApply {
  width: auto
}

#seekInput {
  width: 10%
}